<nav class="navbar navbar-expand-lg navbar-light mb-2" style="background-color: #3778c2; padding: 0.5rem;">
  <% if signed_in? %>
    <div class="container">
      <div class="d-flex">
        <span class="nav-link">
          <i class="bi bi-power text-white"></i>
        </span>
        <span class="nav-link">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'ms-1 text-white text-decoration-none' %>
        </span>
      </div>
    </div>
  <% else %>  
    <div class="container">
      <div class="d-flex">
        <span class="nav-link">
          <%= link_to 'Expenditure', new_user_session_path, class: 'ms-1 text-white text-decoration-none', style: 'font-family: "Pacifico, cursive; font-size: 24px;"' %>
        </span>
      </div>
    </div>
  <% end %>
</nav>
